 /* autor: Tereza Buchníčková         */
 /* login: xbuchn00                   */
 /* popis vzhledu elementů v aplikaci */
.menu .label
{
    -fx-text-fill: white;
}

.context-menu
{
    -fx-background-color: #002d40;
}

.white
{
    -fx-background-color: white;
}

.blue
{
    -fx-background-color: #002d40;
}

.gray
{
    -fx-background-color: #D6DBDF;
}

.scroll-pane > .viewport  
{ 
    -fx-background-color: #D6DBDF; 
}

#x
{
    -fx-alignment: LEFT;
}

